{% extends 'layouts/base.html' %}

{% block title %}Pedidos{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#FCB39A">
            <strong>Error!</strong> {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif mensaje %}
        <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#EAFBD5">
            <strong>Exito!</strong> {{mensaje}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    
    <div class="mx-5 align-items-center justify-content-center">
        <div class="text-3 text-center">
            <h3 class="py-5" id="exampleModalLabel">Pedidos de aguacate</h3>
        </div>
        {% if npedidos > 0 %}
            <div class="my-2 text-end" style="width: 100%;">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background-color: #a5e244;">
                    +<i class="fas fa-user-friends mr-2"></i> Nuevo
                </button>
            </div>
            <div class="table-responsive">
                <table id="example" class="table table-striped text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>No. Pedido</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in pedidos %}
                            <tr>
                                <td>{{a.numeroPedido}}</td>
                                <td>{{a.fechaPedido}}</td>
                                <td>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</td>
                                {% if a.estatusPedido == 'P_T' %}
                                    <td class="text-sm"><i class="fa-solid fa-truck-moving text-success"></i><br>Terminado</td>
                                {% elif a.estatusPedido == 'P_P' %}
                                    <td class="text-sm"><i class="fa-solid fa-times-circle text-danger"></i><br>Pendiente</td>
                                {% endif %}
                                <td>
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                        <i class="nav-icon fas fa-trash text-danger"></i>
                                    </button>
                                    <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#modificar{{a.id}}">
                                        <i class="nav-icon fas fa-circle-plus text-primary"></i>
                                    </button>
                                    <div class="modal fade" id="modificar{{a.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos del pedido</h1>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-start">
                                                        
                                                        <span><strong>Pedido número: </strong>{{a.numeroPedido}}</span>
                                                        <hr><br><span><strong>Contiene: </strong>{{a.totalPalletsPedido}} pallets.</span>
                                                        <hr><br><span><strong>Para el cliente: </strong>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</span>
                                                        <hr><br><span><strong>Generada por: </strong>{{a.idTrabajador.usuario.first_name}} {{a.idTrabajador.usuario.last_name}}.</span>
                                                        <hr><br>
                                                        {% if a.estatusPedido == 'P_T' %}
                                                            <label><i class="fa-solid fa-truck-moving text-success mr-2"></i>El pedido ya tiene agendada una orden de corte.</label>
                                                        {% elif a.estatusPedido == 'P_P' %}
                                                            <label><i class="fa-solid fa-times-circle text-danger mr-2"></i>El pedido aun no tiene una orden de corte generada.</label>
                                                        {% endif %}
                                                        <hr>
                                                    </div>
                                                    <form method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="text-center">
                                                            <input type="hidden" name="Id" value="modificar">
                                                            <input type="hidden" name="Pedido" value={{a.id}}>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Kilos" value="{{a.totalKilosPedido}}">
                                                                <label>Kilos</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Mercado" value="{{a.mercadoPedido}}">
                                                                <label>Mercado</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Destino" value="{{a.destinoPedido}}">
                                                                <label>Destino</label>
                                                            </p>
                                                            <button type="submit" class="btn mb-2" style="background-color: #a5e244;">Guardar</button>
                                                        </div>
                                                    </form>
                                                    <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="eliminar{{a.id}}">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="pt-4 text-center">
                                                    <h1 class="fs-5">¿Seguro que deseas eliminar este pedido?</h1>
                                                    <p class="fs-10 text-danger mx-2">*Cuidado, al eliminar el pedido se eliminara la orden de corte, viajes y todos los registros que esten ligados a el.</p>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center d-inline-block">
                                                        <p class="form-floating">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                
                                                                        <input type="hidden" name="Id" value="eliminar">
                                                                        <input type="hidden" name="Pedido" value={{a.id}}>
                                                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card text-center shadow rounded mx-5" style="background:#F6CECE">
                <div class="card-body">
                    <img src="/static/assets/img/icons/orderF.png" width="70">
                    <p class="mt-2 card-text"> <strong> No hay pedidos registrados.</strong></p>
                    {% if nclientes < 1 %}
                    <p class="mt-2 card-text">Para poder registrar primero asegurate que halla <br>clientes registrados.</p>
                        <div class="text-center">
                            <a href={% url 'w' %} class="btn inactive shadow" style="background-color: #FfCECA;">
                                <i class="nav-icon fas fa-edit mt-2"></i>
                                <p>Ir a registrar cliente</p>
                            </a>
                        </div>
                    {% else %}
                        <div class="my-2 text-center" style="width: 100%;">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background-color: #a5e244;">
                                +<i class="fas fa-user-friends mr-2"></i> Nuevo
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Pedido</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <p class="form-floating mb-3">
                                    {{form.Numero}}
                                    <label>Número de pedido</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Kilos}}
                                    <label>Total (en kilogramos)</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Mercado}}
                                    <label>Mercado</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Destino}}
                                    <label>Destino</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Cliente}}
                                    <label>Cliente</label>
                                </p>
                                <button type="submit" class="btn" style="background-color: #a5e244;">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
