{% extends 'layouts/base.html' %}

{% block title %}Pedidos{% endblock %}

{% block content %}
    <div class="mx-5 align-items-center justify-content-center">
        <div class="row text-center justify-content-center align-items-center py-3">
            <div class="text-2 col-md-4 text-md-start">
                <h3 class="py-3">Pedidos</h3>
            </div>
            <div class="col-md-4 col-6">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar pedidos...">
            </div>
            <div class="my-2 col-md-4 col-6 text-end" style="width: 100%;">
                <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background: #4CAF50;">
                    +<i class="nav-icon fas fa-file mr-2"></i> Nuevo
                </button>
            </div>
        </div>
        {% if npedidos > 0 %}
            <div class="table-responsive">
                <table id="example" class="table table-striped text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>No. Pedido</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in pedidos %}
                            <tr>
                                <td>{{a.numeroPedido}}</td>
                                <td>{{a.fechaPedido}}</td>
                                <td>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</td>
                                {% if a.estatusPedido == 'P_I' %}
                                    <td class="text-xs"><i class="fa-solid fa-battery-quarter text-danger"></i><br>Iniciado</td>
                                {% elif a.estatusPedido == 'P_O' %}
                                    <td class="text-xs"><i class="fa-solid fa-battery-half text-warning"></i><br>Ordenado</td>
                                {% elif a.estatusPedido == 'P_V' %}
                                    <td class="text-xs"><i class="fa-solid fa-battery-three-quarters text-info"></i><br>En viaje</td>
                                {% elif a.estatusPedido == 'P_C' %}
                                    <td class="text-xs"><i class="fa-solid fa-battery text-success"></i><br>Completado</td>
                                {% endif %}
                                <td>
                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                        <i class="nav-icon fas fa-ellipsis-v"></i>
                                    </button>
                                    
                                    <div class="modal fade" id="detalles{{a.id}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Panel de detalles</h5>
                                              <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {% if a.estatusPedido == 'P_I' %}
                                                            <div class="alert alert-danger rounded-pill mx-5 text-xs" role="alert">
                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido esta en estado inicial, no se le ha agendado orden de corte ni viaje.
                                                            </div>
                                                        {% elif a.estatusPedido == 'P_O' %}
                                                            <div class="alert alert-warning rounded-pill mx-5 text-xs" role="alert">
                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido tiene generada una orden de corte, a la espera de que se le asigne un viaje.
                                                            </div>
                                                        {% elif a.estatusPedido == 'P_V' %}
                                                            <div class="alert alert-info rounded-pill mx-5 text-xs" role="alert">
                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido tiene una orden de corte y esta en viaje, proximo a completarse.
                                                            </div>
                                                        {% elif a.estatusPedido == 'P_C' %}
                                                            <div class="alert alert-success rounded-pill mx-5 text-xs" role="alert">
                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido esta completado, el encargado de producción notifico que fue recibido en bodega.
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="fw-bold mb-0">Pedido número:</p>
                                                        <p>{{a.numeroPedido}}</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="fw-bold mb-0">Fecha:</p>
                                                        <p>{{a.fechaPedido}}</p>
                                                    </div>
                                                </div>
                                              <div class="row">
                                                <div class="col-md-12">
                                                    <p class="fw-bold mb-0">Para el cliente:</p>
                                                    <p>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</p>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-6">
                                                    <p class="fw-bold mb-0">Contiene:</p>
                                                    <p>{{a.totalPalletsPedido}} pallets.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="fw-bold mb-0">Destino:</p>
                                                    <p>{{a.destinoPedido}}</p>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <p class="fw-bold mb-0">Generada por:</p>
                                                  <p>{{a.idTrabajador.usuario.first_name}} {{a.idTrabajador.usuario.last_name}}</p>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <p class="fw-bold mb-0">Kilos:</p>
                                                  <p>{{a.totalKilosPedido}}</p>
                                                </div>
                                                <div class="col-md-6">
                                                  <p class="fw-bold mb-0">Mercado:</p>
                                                  <p>{{a.get_mercadoPedido_display}}</p>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <p class="fw-bold mb-0">Observaciones:</p>
                                                  <p>{{a.observacionPedido}}</p>
                                                </div>
                                              </div>
                                              <div class="row">
                                                <div class="align-items-center">
                                                    <p class="fw-bold mb-2">Contiene los siguientes tipos:</p>
                                                </div>
                                                <div class="col-12 table-responsive" >
                                                    <table id="tabla" class="table table-striped text-center" style="width:100%">
                                                        <thead>
                                                            <tr class="align-items-center">
                                                                <th>Calibre</th>
                                                                <th>Calidad</th>
                                                                <th>Kg</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for b in pcc %}
                                                                {% if a.id == b.idPedido.id %}
                                                                    <tr>
                                                                        <td>{{b.idCalibre.numCalibre}}</td>
                                                                        <td>{{b.idCalidad.numCalidad}}</td>
                                                                        <td>{{b.cantidadCC}}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                              <button type="button" class="btn text-xs bg-danger px-5" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                                <i class="nav-icon fas fa-trash text-light"></i>Eliminar
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    <div class="modal fade" id="eliminar{{a.id}}">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="fs-6">¿Seguro que quieres eliminar a este pedido?</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center mx-5 rounded">
                                                        <p class="fs-10">*Cuidado, al eliminar el pedido tambien se eliminaran la orden de corte y orden de viaje relacionadas a este pedido.</p>
                                                    </div>
                                                    <div class="text-center d-inline-block">
                                                        <p class="form-floating">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                
                                                                        <input type="hidden" name="Id" value="eliminar">
                                                                        <input type="hidden" name="Pedido" value={{a.id}}>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <i class="nav-icon fas fa-trash mr-2"></i>Eliminar
                                                                        </button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card text-center shadow rounded mx-5">
                <div class="card-body text-center">
                    <h5 class="card-titl">No hay pedidos registrados.</h5>
                    <img src="/static/assets/img/icons/orderF.png" width="70">
                    <p class="card-text">Actualmente no hay pedidos registrados en el sistema.</p>
                    {% if nclientes < 1 %}
                        <p class="mt-2 card-text">Para poder realizar un pedido primero asegurate que halla <br>clientes registrados.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header align-items-center">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de registro</h1>
                        <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <input type="text" id="completo" value="" style="display:none" required>
                                <div class="row">
                                    <div class="col-xl-6 col-sm-6 col-xs-6">
                                        <p class="form-floating mb-3">
                                            {{form.Numero}}
                                            <label>Número de pedido</label>
                                        </p>
                                    </div>
                                    <div class="col-xl-6 col-sm-6 col-xs-6">
                                        <p class="form-floating mb-3">
                                            {{form.Cliente}}
                                            <label>Cliente</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-sm-6 col-xs-6">
                                        <p class="form-floating mb-3">
                                            {{form.Mercado}}
                                            <label>Mercado</label>
                                        </p>
                                    </div>
                                    <div class="col-xl-6 col-sm-6 col-xs-6">
                                        <p class="form-floating mb-3">
                                            {{form.Destino}}
                                            <label>Destino</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="form-floating mb-3">
                                            {{form.Observacion}}
                                            <label>Observaciones</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="align-items-center">
                                        <p class="text-xs">Seleccion de Kg.</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="form-floating mb-3">
                                            {{form.Calibre}}
                                            <label id="e3">Calibre</label>
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <p class="form-floating mb-3">
                                            {{form.Calidad}}
                                            <label id="e1">Calidad</label>
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <p class="form-floating">
                                            {{form.Kilos}}
                                            <label id="e2">Kg.</label>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-12 table-responsive" >
                                        <table id="tablaPedido" class="table table-striped text-center" style="width:100%">
                                            <thead>
                                                <tr class="align-items-center">
                                                    <th>Calidad</th>
                                                    <th>Calibre</th>
                                                    <th>Kg</th>
                                                    <th>
                                                        <button type="button" id="agregartabla" class="btn btn-xs rounded-circle text-light" style="background-color: #4CAF50;">
                                                            <i class="nav-icon fas fa-plus"></i>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="form-floating mb-3">
                                            {{form.Tkilos}}
                                            <label>Total (en kilogramos)</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p class="form-floating mb-3">
                                            {{form.DatosT}}
                                        </p>
                                    </div>
                                </div>
                                <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                    +<i class="nav-icon fas fa-file mr-2"></i> Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/Addorder.js"></script>
{% endblock javascripts %}
