{% extends 'layouts/base.html' %}

{% block title %}Indicadores de calidad{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#FCB39A">
            <strong>Error!</strong> {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif mensaje %}
        <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#EAFBD5">
            <strong>Exito!</strong> {{mensaje}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    
    <div class="mx-5 align-items-center justify-content-center">
        <div class="text-center d-flex justify-content-between align-items-center py-3">
            <h3>Indicadores de calidad</h3>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="text-center d-flex justify-content-between align-items-center py-3">
                    <h5>Calibre</h5>
                    <button type="button" class="btn btn-xs" data-bs-toggle="modal" data-bs-target="#registrarcalibre" style="background-color: #a5e244;">
                        +<i class="nav-icon fas fa-ruler-combined mr-2"></i> Nuevo
                    </button>
                </div>
                <div class="table-responsive">
                    {% if ncalibres > 0 %}
                        <table id="example" class="table table-striped text-center" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Tamaño</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in calibres %}
                                    <tr>
                                        <td>Calibre {{a.numCalibre}}</td>
                                        <td>
                                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#eliminarcalibre{{a.id}}">
                                                <i class="nav-icon fas fa-trash text-danger"></i>
                                            </button>
                                            <div class="modal fade" id="eliminarcalibre{{a.id}}">
                                                <div class="modal-dialog text-center">
                                                    <div class="modal-content">
                                                        <div class="pt-4 text-center">
                                                            <h1 class="fs-5">¿Seguro que deseas eliminar este calibre?</h1>
                                                            <p class="fs-10 text-danger mx-2">*Cuidado, al eliminar este registro tambien se eliminaran los pedidos que estan relacionados a el.</p>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-center d-inline-block">
                                                                <p class="form-floating">
                                                                    <form method="POST" enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        
                                                                                <input type="hidden" name="Id" value="eliminarcalibre">
                                                                                <input type="hidden" name="Calibre" value={{a.id}}>
                                                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                                                            </p>
                                                                        </div>
                                                                    </form>
                                                                    <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="card text-center shadow rounded" style="background:#F6CECE">
                            <div class="card-body">
                                <img src="/static/assets/img/icons/wo-users.png" width="70">
                                <p class="mt-2 card-text">No hay Calibres registrados.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center d-flex justify-content-between align-items-center py-3">
                    <h5>Calidad</h5>
                    <button type="button" class="btn btn-xs" data-bs-toggle="modal" data-bs-target="#registrarcalidad" style="background-color: #a5e244;">
                        +<i class="nav-icon fas fa-star mr-2"></i> Nuevo
                    </button>
                </div>
                <div class="table-responsive">
                    {% if ncalidades > 0 %}
                        <table id="example" class="table table-striped text-center" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Numero</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in calidades %}
                                    <tr>
                                        <td>No. {{a.numCalidad}}</td>
                                        <td>{{a.descripcionCalidad}}</td>
                                        <td>
                                            <button type="submit" class="btn" data-bs-toggle="modal" data-bs-target="#modificarcalidad{{a.id}}">
                                                <i class="nav-icon fas fa-edit text-primary"></i>
                                            </button>
                                            <div class="modal fade" id="modificarcalidad{{a.id}}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos de calidad</h1>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <div class="text-center">
                                                                    <input type="hidden" name="Id" value="modificar">
                                                                    <input type="hidden" name="Calidad" value={{a.id}}>
                                                                    <p class="form-floating mb-3">
                                                                        <input class="form-control" type="text" name="Numero" value="{{a.numCalidad}}">
                                                                        <label>Número de calidad</label>
                                                                    </p>
                                                                    <p class="form-floating mb-3">
                                                                        <input class="form-control" type="text" name="Descripcion" value="{{a.descripcionCalidad}}">
                                                                        <label>Descripcion</label>
                                                                    </p>
                                                                    <button type="submit" class="btn mb-2" style="background-color: #a5e244;">Guardar</button>
                                                                </div>
                                                            </form>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#eliminarcalidad{{a.id}}">
                                                <i class="nav-icon fas fa-trash text-danger"></i>
                                            </button>
                                            <div class="modal fade" id="eliminarcalidad{{a.id}}">
                                                <div class="modal-dialog text-center">
                                                    <div class="modal-content">
                                                        <div class="pt-4 text-center">
                                                            <h1 class="fs-5">¿Seguro que deseas eliminar esta calidad?</h1>
                                                            <p class="fs-10 text-danger mx-2">*Cuidado, al eliminar este registro tambien se eliminaran los pedidos que estan relacionados a el.</p>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-center d-inline-block">
                                                                <p class="form-floating">
                                                                    <form method="POST" enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        
                                                                                <input type="hidden" name="Id" value="eliminarcalidad">
                                                                                <input type="hidden" name="Calidad" value={{a.id}}>
                                                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                                                            </p>
                                                                        </div>
                                                                    </form>
                                                                    <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="card text-center shadow rounded" style="background:#F6CECE">
                            <div class="card-body">
                                <img src="/static/assets/img/icons/wo-users.png" width="70">
                                <p class="mt-2 card-text">No hay calidades registradas.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="modal fade" id="registrarcalidad">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Registrar Calidad</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregarcalidad">
                                <p class="form-floating mb-3">
                                    {{formcalidad.Numero}}
                                    <label>Número de calidad</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{formcalidad.Descripcion}}
                                    <label>Descripcion</label>
                                </p>
                                <button type="submit" class="btn" style="background-color: #a5e244;">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="registrarcalibre">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Registrar Calibre</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregarcalibre">
                                <p class="form-floating mb-3">
                                    {{formcalibre.Numero}}
                                    <label>Número de calibre</label>
                                </p>
                                <button type="submit" class="btn" style="background-color: #a5e244;">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
