{% extends 'layouts/base.html' %}

{% block title %}Editar Huertas{% endblock %}

{% block content %}

    {% if error %}
    <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#FCB39A">
        <strong>Error!</strong> {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif mensaje %}
    <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#EAFBD5">
        <strong>Exito!</strong> {{mensaje}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <div class="text-3 text-center">
        <h3 class="py-5" id="exampleModalLabel">Huerta</h3>
    </div>
    <div class="mx-5 align-items-center justify-content-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="text-center">
                <input type="hidden" name="Id" value="modificar">
                <p class="form-floating mb-3">
                    {{formc.Nombre}}
                    <label>Nombre</label>
                </p>
                <p class="form-floating mb-3">
                    {{formc.Ubicacion}}
                    <label>Ubicacion</label>
                </p>
                <p class="form-floating mb-3">
                    {{formc.Fruta}}
                    <label>Fruta</label>
                </p>
                <p class="form-floating mb-3">
                    {{formc.EstatusHuerta}}
                    <label>Estatus</label>
                </p>
                <p class="form-floating mb-3">
                    {{formc.ElegirProductor}}
                    <label>Productor</label>
                </p>
                <button type="submit" class="btn" style="background-color: #a5e244;">Guardar</button>
            </div>
        </form>
    </div>
    
    <div class="mx-5 align-items-center justify-content-center">
        <div class="text-3 text-center">
            <h3 class="py-5" id="exampleModalLabel">Huertas de aguacate</h3>
        </div>
        <div class="table-responsive">
            <table id="example" class="table table-striped text-center" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicacion</th>
                        <th>Fruta</th>
                        <th>Estatus</th>
                        <th>Productor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in huertas %}
                        <tr>
                            <td>{{a.nombre}}</td>
                            <td>{{a.ubicacion}}</td>
                            <td>{{a.fruta}}</td>
                            <td>{{a.estatus}}</td>
                            <td>{{a.idProductor}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-2 text-center" style="width: 100%;">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background-color: #a5e244;">
                <i class="nav-icon fas fa-plus"></i>
            </button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Huertas</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <p class="form-floating mb-3">
                                    {{formm.nombre}}
                                    <label>Nombre</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{formm.ubicacion}}
                                    <label>ubicacion</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{formm.fruta}}
                                    <label>Fruta</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{formm.EstatusHuerta}}
                                    <label>Estatus</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{formm.ElegirProductor}}
                                    <label>Productor</label>
                                </p>
                                <button type="submit" class="btn" style="background-color: #a5e244;">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
