{% extends 'layouts/base.html' %}

{% block title %}Huertas{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger mt-2" role="alert">Error al registrar la huerta <br>Error de tipo: {{error}}</div>
    {% elif mensaje %}
        <div class="alert alert-success mt-2" role="alert">{{mensaje}}</div>
    {% endif %}
    
    <div class="mx-5 align-items-center justify-content-center">
        <div class="text-3 text-center">
            <h3 class="py-5" id="exampleModalLabel">Huertas de aguacate</h3>
        </div>
        <table id="example" class="table table-striped text-center" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Fruta</th>
                    <th>Estatus</th>
                    <th>Productor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for a in huertas %}
                    <tr>
                        <td>{{a.nombre}}</td>
                        <td>{{a.ubicacion}}</td>
                        <td>{{a.fruta}}</td>
                        <td>{{a.estatus}}</td>
                        <td>{{a.idProductor}}</td>
                        <td>
                            <i class="nav-icon fas fa-edit mr-2"></i>
                            <i class="nav-icon fas fa-trash ml-2 text-danger"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-2 text-center" style="width: 100%;">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background-color: #a5e244;">
                <i class="nav-icon fas fa-plus"></i>
            </button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Huertas</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <p class="form-floating mb-3">
                                    {{form.nombre}}
                                    <label>Nombre</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.ubicacion}}
                                    <label>ubicacion</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.fruta}}
                                    <label>Fruta</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.EstatusHuerta}}
                                    <label>Estatus</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.ElegirProductor}}
                                    <label>Productor</label>
                                </p>
                                <button type="submit" class="btn" style="background-color: #a5e244;">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
