{% extends 'layouts/base.html' %}

{% block title %}Huertas{% endblock %}

{% block content %}

    {% if error %}
    <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#FCB39A">
        <strong>Error!</strong> {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% elif mensaje %}
    <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#EAFBD5">
        <strong>Exito!</strong> {{mensaje}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    
    <div class="mx-5 align-items-center justify-content-center">

        <div class="text-center d-flex justify-content-between align-items-center py-3">
            <div class="text-2">
                <h3 class="py-3">Huertas</h3>
            </div>
            {% if nproductores > 0 %}
                <div class="my-2 text-end" style="width: 100%;">
                    <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background: #4CAF50;">
                        +<i class="nav-icon fas fa-tree"></i> Nuevo
                    </button>
                </div>
            {% endif %}
            
        </div>
        {% if nhuertas > 0 %}
            <div class="table-responsive">
                <table id="example" class="table table-striped text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Localizacion</th>
                            <th>Estado</th>
                            <th>Productor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in huertas %}
                            <tr>
                                <td>{{a.nombreHuerta}}</td>
                                <td>{{a.localizacionHuerta}}</td>
                                {% if a.estatusHuerta == 'H_A' %}
                                    <td class="text-xs"><i class="fa-solid fa-circle-check text-success"></i><br>Activa</td>
                                {% else %}
                                    <td class="text-xs"><i class="fa-solid fa-circle-xmark text-danger"></i><br>Inactiva</td>
                                {% endif %}
                                <td>{{a.idProductor.nombre}} {{a.idProductor.apellidoP}} {{a.idProductor.apellidoM}}</td>
                                <td>
                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#modificar{{a.id}}">
                                        <i class="nav-icon fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="modal fade" id="modificar{{a.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header align-items-center">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de edición</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="text-center">
                                                            <input type="hidden" name="Id" value="modificar">
                                                            <input type="hidden" name="Huerta" value={{a.id}}>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Nombre" value="{{a.nombreHuerta}}">
                                                                <label>Nombre</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Fruta" value="{{a.frutaHuerta}}">
                                                                <label>Fruta</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Ubicacion" value="{{a.ubicacionHuerta}}">
                                                                <label>Municipio</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Localizacion" value={{a.localizacionHuerta}}>
                                                                <label>Localizacion</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Clave" value={{a.claveSagarpaHuerta}}>
                                                                <label>Clave de Sagarpa</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Inocuidad" value={{a.estatusInocuidadHuerta}}>
                                                                <label>Estatus de inocuidad</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <select name="Estatus" class="form-control">
                                                                    <option value="H_A" {% if a.estatusHuerta == 'H_A' %}selected{% endif %}>Activa</option>
                                                                    <option value="H_I" {% if a.estatusHuerta == 'H_I' %}selected{% endif %}>Inactiva</option>
                                                                </select>
                                                                <label>Estatus</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <select name="Productor" class="form-control">
                                                                    {% for p in productores %}
                                                                        <option value="{{p.id}}" {% if p.id == a.productor.id %}selected{% endif %}>{{p.nombre}} {{p.apellidoP}} {{p.apellidoM}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <label>Productor</label>
                                                            </p>
                                                            <button type="submit" class="btn  text-light" style="background-color: #4CAF50;">
                                                                <i class="fa-solid fa-floppy-disk mr-2"></i>
                                                                Guardar
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                        <i class="nav-icon fas fa-trash text-danger"></i>
                                    </button>
                                    <div class="modal fade" id="eliminar{{a.id}}">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="fs-6">¿Seguro que quieres eliminar a esta huerta?</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center mx-5 rounded">
                                                        <p class="fs-10">*Cuidado, al eliminar esta huerta tambien se eliminaran los elementos que estan relacionados a ella, como ordenes de corte, viajes, ordenes de corte, etc.</p>
                                                    </div>
                                                    <div class="text-center d-inline-block">
                                                        <p class="form-floating">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                
                                                                        <input type="hidden" name="Id" value="eliminar">
                                                                        <input type="hidden" name="Huerta" value={{a.id}}>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <i class="nav-icon fas fa-trash mr-2"></i>Eliminar
                                                                        </button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card text-center shadow rounded mx-5">
                <div class="card-body text-center">
                    <h5 class="card-titl">No hay huertas registradas</h5>
                    <img src="/static/assets/img/icons/orchard.png" width="70">
                    <p class="card-text">Actualmente no hay huertas registradas en el sistema. Por favor, registre una nueva huerta para poder asignarla en pedidos futuros.</p>
                    {% if nproductores < 2 %}
                        <p class="mt-2 card-text">Para poder registrar huertas primero asegurate que halla <br>productores registrados.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        
        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header align-items-center">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de registro</h1>
                        <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <p class="form-floating mb-3">
                                    {{form.Nombre}}
                                    <label>Nombre</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Ubicacion}}
                                    <label>Municipio</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Fruta}}
                                    <label>Fruta</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Localizacion}}
                                    <label>Localizacion de la huerta</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Clave}}
                                    <label>Clave de Sagarpa</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Inocuidad}}
                                    <label>Estatus de inocuidad</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Estatus}}
                                    <label>Estatus de la huerta</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Productor}}
                                    <label>Productor</label>
                                </p>
                                <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                    +<i class="fa-solid fa-tree mr-2"></i>Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
