{% extends 'layouts/base.html' %}

{% block title %}Productores{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger mt-2" role="alert">Error al registrar al productor <br>Error de tipo: {{error}}</div>
    {% elif mensaje %}
        <div class="alert alert-success mt-2" role="alert">{{mensaje}}</div>
    {% endif %}
    
    <div class="mx-5 align-items-center justify-content-center">
        <div class="text-3 text-center">
            <h3 class="py-5" id="exampleModalLabel">Productores de aguacate</h3>
        </div>
        <div class="table-responsive">
            <table id="example" class="table table-striped text-center" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in productores %}
                        <tr>
                            <td>{{a.nombre}} {{a.apellidoP}} {{a.apellidoM}}</td>
                            <td>{{a.telefono}}</td>
                            <td>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                            <input type="hidden" name="Id" value="modificar">
                                            <input type="hidden" name="Productor" value={{a.id}}>
                                            <button type="submit" class="btn">
                                                <i class="nav-icon fas fa-edit text-primary"></i>
                                            </button>
                                        </p>
                                    </div>
                                </form>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                    <i class="nav-icon fas fa-trash text-danger"></i>
                                </button>
                                <div class="modal fade" id="eliminar{{a.id}}">
                                    <div class="modal-dialog text-center">
                                        <div class="modal-content">
                                            <div class="pt-4 text-center">
                                                <h1 class="fs-5">¿Seguro que deseas eliminar a {{a.nombre}}?</h1>
                                            </div>
                                            <div class="modal-body">
                                                <div class="text-center d-inline-block">
                                                    <p class="form-floating">
                                                        <form method="POST" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            
                                                                    <input type="hidden" name="Id" value="eliminar">
                                                                    <input type="hidden" name="Productor" value={{a.id}}>
                                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                                </p>
                                                            </div>
                                                        </form>
                                                        <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-2 text-center" style="width: 100%;">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background-color: #a5e244;">
                <i class="nav-icon fas fa-plus"></i>
            </button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Productores</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <p class="form-floating mb-3">
                                    {{form.Nombre}}
                                    <label>Nombre</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.AP}}
                                    <label>Apellido Paterno</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.AM}}
                                    <label>Apellido Materno</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Telefono}}
                                    <label>Telefono</label>
                                </p>
                                <button type="submit" class="btn" style="background-color: #a5e244;">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
