{% extends 'layouts/base.html' %}

{% block title %}Medios de transporte{% endblock %}

{% block content %}

<div class="mt-2 mx-5 align-items-center justify-content-center">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Conductor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ford F-450</td>
                <td>20 Toneladas</td>
                <td>Marco Antonio Mercado Rodriguez</td>
                
                <td>- - - -</td>
            </tr>
            <tr>
                <td>Ford F-450</td>
                <td>20 Toneladas</td>
                <td>Marco Antonio Mercado Rodriguez</td>
                
                <td>- - - -</td>
            </tr><tr>
                <td>Ford F-450</td>
                <td>20 Toneladas</td>
                <td>Marco Antonio Mercado Rodriguez</td>
                
                <td>- - - -</td>
            </tr><tr>
                <td>Ford F-450</td>
                <td>20 Toneladas</td>
                <td>Marco Antonio Mercado Rodriguez</td>
                
                <td>- - - -</td>
            </tr><tr>
                <td>Ford F-450</td>
                <td>20 Toneladas</td>
                <td>Marco Antonio Mercado Rodriguez</td>
                
                <td>- - - -</td>
            </tr>
        </tbody>
    </table>
    <div class="mt-2 text-center" style="width: 100%;">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background-color: #a5e244;">
            Agregar
        </button>
    </div>

    
        
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar camión de carga</h1>
                    </div>
                    <div class="modal-body justify-content-center">
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="d-flex flex-column">
                                <p><label
                                        style="font-weight: 600; font-size: 2vh; color: black;">Aqui van todos los campos</label><br>
                                    {{form.description}}
                                </p>
                                <button type="submit" class="btn" id="btnagendar" data-bs-dismiss="modal" style="background-color: #a5e244;">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

{% endblock content %}
