{% extends 'layouts/base.html' %}

{% block title %}Viajes de corte{% endblock %}

{% block content %}
    
    <div class="mx-5 align-items-center justify-content-center">
        <div class="row text-center justify-content-center align-items-center py-3">
            <div class="text-2 col-md-4 text-md-start">
                <h3 class="py-3">Viajes de corte</h3>
            </div>
            <div class="col-md-4 col-6">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar viajes...">
            </div>
            {% if nop > 0 %}
                <div class="my-2 col-md-4 col-6 text-end" style="width: 100%;">
                    <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background: #4CAF50;">
                        +<i class="nav-icon fas fa-tasks"></i> Nuevo
                    </button>
                </div>
            {% endif %}
        </div>
        {% if nop > 0 %}
            <div class="d-flex justify-content-center align-items-center">
                <div class="alert alert-danger rounded-pill w-lg-25 text-xs text-center" role="alert">
                    <i class="fa-solid fa-info-circle mr-2"></i>Hay ordenes de corte esperando a que generes su viaje de corte.
                </div>
            </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center">
                <div class="alert alert-success rounded-pill w-lg-25 text-xs text-center" role="alert">
                    <i class="fa-solid fa-info-circle mr-2"></i>Por el momento no hay ordenes de corte nuevas.
                </div>
            </div>
        {% endif %}
        {% if nvc > 0 %}
            <div class="table-responsive">
                <table id="example" class="table table-striped text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Viaje N°</th>
                            <th>Camion encargado</th>
                            <th>Cuadrilla encargada</th>
                            <th>Creado el</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in vc %}
                            <tr>
                                <td>{{a.idOrdenCorte.idPedido.numeroPedido}}</td>
                                <td>{{a.idCamionTransporte.modeloTransporte}}</td>
                                <td>{{a.idCuadrilla.nombreCuadrilla}}</td>
                                <td>{{a.fechaViaje}}</td>
                                <td>
                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                        <i class="nav-icon fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="modal fade" id="detalles{{a.id}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Panel de detalles</h5>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {% if a.idOrdenCorte.idPedido.estatusPedido == 'P_V' %}
                                                                <div class="alert alert-danger rounded-pill mx-5 text-xs" role="alert">
                                                                    <i class="fa-solid fa-info-circle mr-2"></i>Este viaje de corte esta proximo a completarse, pero aun no se ha dado por recibido en bodega.
                                                                </div>
                                                            {% elif a.idOrdenCorte.idPedido.estatusPedido == 'P_C' %}
                                                                <div class="alert alert-success rounded-pill mx-5 text-xs" role="alert">
                                                                    <i class="fa-solid fa-info-circle mr-2"></i>Este viaje de corte fue completado, el encargado de recibo notifico que fue recibido en bodega.
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Viaje de corte N°:</p>
                                                            <p>{{a.idOrdenCorte.numeroOrden}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Fecha de creación:</p>
                                                            <p>{{a.fechaViaje}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Punto de reunión acordado:</p>
                                                            <p>{{a.puntoReunion}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Camión Principal:</p>
                                                            <p class="text-xs">{{a.idCamionTransporte.modeloTransporte}} - {{a.idCamionTransporte.idChoferTransporte.usuario.first_name}} {{a.idCamionTransporte.idChoferTransporte.usuario.last_name}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Camión auxiliar:</p>
                                                            <p class="text-xs">{{a.idCamionTransporte.modeloTransporte}} - {{a.idCamionSecundarioTransporte.idChoferTransporte.usuario.first_name}} {{a.idCamionSecundarioTransporte.idChoferTransporte.usuario.last_name}}</p>
                                                        </div>
                                                    </div>
                                                    {% if a.idOrdenCorte.idPedido.estatusPedido == 'P_V' %}
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Hora de salida:</p>
                                                            <p>{{a.horaSalida}}</p>
                                                        </div>
                                                    </div>
                                                    {% elif a.idOrdenCorte.idPedido.estatusPedido == 'P_C' %}
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Hora de salida:</p>
                                                            <p>{{a.horaSalida}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Hora de llegada:</p>
                                                            <p>{{a.horaLlegada}}</p>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Correspondiente al pedido:</p>
                                                            <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#pedido{{a.id}}">
                                                                <i class=" fa-solid fa-info-circle mr-2"></i> {{a.idOrdenCorte.idPedido}}
                                                            </button>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Correspondiente a la orden:</p>
                                                            <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#orden{{a.id}}">
                                                                <i class=" fa-solid fa-info-circle mr-2"></i> {{a.idOrdenCorte}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn text-xs bg-danger px-5 mt-2" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                                        <i class="nav-icon fas fa-trash text-light"></i>Eliminar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="orden{{a.id}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-xs">
                                                    <button type="submit" class="btn text-sm" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                                        <i class=" fa-solid fa-arrow-left mr-2"></i>
                                                    </button>
                                                    <h5 class="modal-title">Detalles de la orden de corte</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Orden de corte N°:</p>
                                                            <p>{{a.idOrdenCorte.numeroOrden}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Fecha de creación:</p>
                                                            <p>{{a.idOrdenCorte.fechaOrden}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Correspondiente al pedido:</p>
                                                            <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#pedido{{a.id}}">
                                                                <i class=" fa-solid fa-info-circle mr-2"></i> {{a.idOrdenCorte.idPedido}} 
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Para la huerta:</p>
                                                            <p>{{a.idOrdenCorte.idHuerta.nombreHuerta}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Tipo de corte:</p>
                                                            <p>{{a.idOrdenCorte.get_tipoCorte_display}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="pedido{{a.id}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-xs">
                                                    <button type="submit" class="btn text-sm" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                                        <i class=" fa-solid fa-arrow-left mr-2"></i>
                                                    </button>
                                                    <h5 class="modal-title">Detalles del pedido</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Orden número:</p>
                                                            <p>{{a.idOrdenCorte.numeroOrden}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Fecha:</p>
                                                            <p>{{a.idOrdenCorte.fechaOrden}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Para el cliente:</p>
                                                            <p>{{a.idOrdenCorte.idPedido.idCliente.nombreCliente}} {{a.idPedido.idCliente.apellidoPCliente}} {{a.idPedido.idCliente.apellidoMCliente}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Contiene:</p>
                                                            <p>{{a.idOrdenCorte.idPedido.totalPalletsPedido}} pallets.</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Destino:</p>
                                                            <p>{{a.idOrdenCorte.idPedido.destinoPedido}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                        <p class="fw-bold mb-0">Generada por:</p>
                                                        <p>{{a.idOrdenCorte.idPedido.idTrabajador.usuario.first_name}} {{a.idPedido.idPedido.idTrabajador.usuario.last_name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                        <p class="fw-bold mb-0">Kilos:</p>
                                                        <p>{{a.idOrdenCorte.idPedido.totalKilosPedido}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                        <p class="fw-bold mb-0">Mercado:</p>
                                                        <p>{{a.idOrdenCorte.idPedido.get_mercadoPedido_display}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="align-items-center">
                                                            <p class="fw-bold mb-2">Contiene los siguientes tipos:</p>
                                                        </div>
                                                        <div class="col-12 table-responsive" >
                                                            <table id="tabla" class="table table-striped text-center text-xs" style="width:100%">
                                                                <thead>
                                                                    <tr class="align-items-center">
                                                                        <th>Calibre</th>
                                                                        <th>Calidad</th>
                                                                        <th>Kg</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for b in pcc %}
                                                                        {% if a.idOrdenCorte.idPedido.id == b.idPedido.id %}
                                                                            <tr>
                                                                                <td>{{b.idCalibre.numCalibre}}</td>
                                                                                <td>{{b.idCalidad.numCalidad}}</td>
                                                                                <td>{{b.cantidadCC}}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="eliminar{{a.id}}">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="fs-6">¿Seguro que quieres eliminar a este viaje?</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center mx-5 rounded">
                                                        <p class="fs-10">*Cuidado, al eliminar este registro puedes ocasionar problemas en la logistica asi como pedidos que se queden sin cubrirse.</p>
                                                    </div>
                                                    <div class="text-center d-inline-block">
                                                        <p class="form-floating">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="Id" value="eliminar">
                                                                <input type="hidden" name="Viaje" value={{a.id}}>
                                                                <button type="submit" class="btn btn-danger">
                                                                    <i class="nav-icon fas fa-trash mr-2"></i>Eliminar
                                                                </button>
                                                            </form>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card text-center shadow rounded mx-5">
                <div class="card-body text-center">
                    <h5 class="card-titl">No hay viajes de corte registrados</h5>
                    <img src="/static/assets/img/icons/viajeP.png" width="70">
                    <p class="card-text">Actualmente no hay viajes de corte. Por favor, consulte si hay ordenes de corte pendientes para que genere su respectiva viaje.</p>
                </div>
            </div>
        {% endif %}
        
        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header align-items-center">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de registro</h1>
                        <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-floating mb-3">
                                            {{form.Salida}}
                                            <label>Hora de salida</label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-floating mb-3">
                                            {{form.Punto}}
                                            <label>Punto de reunión</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-floating mb-3">
                                            {{form.Camion1}}
                                            <label>Camión encargado del viaje</label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-floating mb-3">
                                            {{form.Camion2}}
                                            <label>Camión de apoyo</label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-floating mb-3">
                                            {{form.Cuadrilla}}
                                            <label>Cuadrilla encargada del corte</label>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-floating mb-3">
                                            {{form.Orden}}
                                            <label>Orden de corte</label>
                                        </p>
                                    </div>
                                </div>
                                <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                    +<i class="fa-solid fa-tasks mr-2"></i>Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
