{% extends 'layouts/base.html' %}

{% block title %}Pedidos{% endblock %}

{% block content %}
    <div class="mx-5 align-items-center justify-content-center">
        <div class="row text-center justify-content-center align-items-center py-3">
            <div class="col-md-6 text-md-start">
                <h3 class="py-3">Consulta de pedidos</h3>
            </div>
            <div class="col-md-6">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar pedidos...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center d-flex justify-content-between align-items-center py-3">
                    <h5>No terminados</h5>
                    <i class="fa-solid fa-times-circle text-danger mr-2"></i>
                </div>
                <div class="table-responsive">
                    {% if npedidosp > 0 %}
                        <div class="table-responsive">
                            <table id="example" class="table table-striped text-center" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>No. Pedido</th>
                                        <th>Cliente</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in pedidos %}
                                        {% if a.estatusPedido != 'P_C' %}
                                            <tr>
                                                <td>{{a.numeroPedido}}</td>
                                                <td>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</td>
                                                <td>
                                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                                        <i class="nav-icon fas fa-ellipsis-v"></i>
                                                    </button>
                                                    
                                                    <div class="modal fade" id="detalles{{a.id}}">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title">Panel de detalles</h5>
                                                              <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        {% if a.estatusPedido == 'P_I' %}
                                                                            <div class="alert alert-danger rounded-pill mx-5 text-xs" role="alert">
                                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido esta en estado inicial, no se le ha agendado orden de corte ni viaje.
                                                                            </div>
                                                                        {% elif a.estatusPedido == 'P_O' %}
                                                                            <div class="alert alert-warning rounded-pill mx-5 text-xs" role="alert">
                                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido tiene generada una orden de corte, a la espera de que se le asigne un viaje.
                                                                            </div>
                                                                        {% elif a.estatusPedido == 'P_V' %}
                                                                            <div class="alert alert-info rounded-pill mx-5 text-xs" role="alert">
                                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido tiene una orden de corte y esta en viaje, proximo a completarse.
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <p class="fw-bold mb-0">Pedido número:</p>
                                                                        <p>{{a.numeroPedido}}</p>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <p class="fw-bold mb-0">Fecha:</p>
                                                                        <p>{{a.fechaPedido}}</p>
                                                                    </div>
                                                                </div>
                                                              <div class="row">
                                                                <div class="col-md-12">
                                                                    <p class="fw-bold mb-0">Para el cliente:</p>
                                                                    <p>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="col-6">
                                                                    <p class="fw-bold mb-0">Contiene:</p>
                                                                    <p>{{a.totalPalletsPedido}} pallets.</p>
                                                                </div>
                                                                <div class="col-6">
                                                                    <p class="fw-bold mb-0">Destino:</p>
                                                                    <p>{{a.destinoPedido}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="col-md-12">
                                                                  <p class="fw-bold mb-0">Generada por:</p>
                                                                  <p>{{a.idTrabajador.usuario.first_name}} {{a.idTrabajador.usuario.last_name}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="col-6">
                                                                  <p class="fw-bold mb-0">Kilos:</p>
                                                                  <p>{{a.totalKilosPedido}}</p>
                                                                </div>
                                                                <div class="col-6">
                                                                  <p class="fw-bold mb-0">Mercado:</p>
                                                                  <p>{{a.get_mercadoPedido_display}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="align-items-center">
                                                                    <p class="fw-bold mb-2">Contiene los siguientes tipos:</p>
                                                                </div>
                                                                <div class="col-12 table-responsive" >
                                                                    <table id="tabla" class="table table-striped text-center" style="width:100%">
                                                                        <thead>
                                                                            <tr class="align-items-center">
                                                                                <th>Calibre</th>
                                                                                <th>Calidad</th>
                                                                                <th>Kg</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for b in pcc %}
                                                                                {% if a.id == b.idPedido.id %}
                                                                                    <tr>
                                                                                        <td>{{b.idCalibre.numCalibre}}</td>
                                                                                        <td>{{b.idCalidad.numCalidad}}</td>
                                                                                        <td>{{b.cantidadCC}}</td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card text-center shadow rounded">
                            <div class="card-body">
                                <img src="/static/assets/img/icons/wo-users.png" width="70">
                                <p class="mt-2 card-text">No hay pedidos pendientes.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center d-flex justify-content-between align-items-center py-3">
                    <h5>Terminados</h5>
                    <i class="fa-solid fa-circle-check text-success mr-2"></i>
                </div>
                <div class="table-responsive">
                    {% if npedidost > 0 %}
                        <div class="table-responsive">
                            <table id="example" class="table table-striped text-center" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>No. Pedido</th>
                                        <th>Cliente</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in pedidos %}
                                        {% if a.estatusPedido == 'P_C' %}
                                            <tr>
                                                <td>{{a.numeroPedido}}</td>
                                                <td>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</td>
                                                <td>
                                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                                        <i class="nav-icon fas fa-ellipsis-v"></i>
                                                    </button>
                                                    
                                                    <div class="modal fade" id="detalles{{a.id}}">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title">Panel de detalles</h5>
                                                              <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        {% if a.estatusPedido == 'P_C' %}
                                                                            <div class="alert alert-success rounded-pill mx-5 text-xs" role="alert">
                                                                                <i class="fa-solid fa-info-circle mr-2"></i>El pedido esta completado, el encargado de recibo notifico que llego a la bodega.
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <p class="fw-bold mb-0">Pedido número:</p>
                                                                        <p>{{a.numeroPedido}}</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="fw-bold mb-0">Fecha:</p>
                                                                        <p>{{a.fechaPedido}}</p>
                                                                    </div>
                                                                </div>
                                                              <div class="row">
                                                                <div class="col-md-12">
                                                                    <p class="fw-bold mb-0">Para el cliente:</p>
                                                                    <p>{{a.idCliente.nombreCliente}} {{a.idCliente.apellidoPCliente}} {{a.idCliente.apellidoMCliente}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="col-md-6">
                                                                    <p class="fw-bold mb-0">Contiene:</p>
                                                                    <p>{{a.totalPalletsPedido}} pallets.</p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p class="fw-bold mb-0">Destino:</p>
                                                                    <p>{{a.destinoPedido}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="col-md-12">
                                                                  <p class="fw-bold mb-0">Generada por:</p>
                                                                  <p>{{a.idTrabajador.usuario.first_name}} {{a.idTrabajador.usuario.last_name}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="col-md-6">
                                                                  <p class="fw-bold mb-0">Kilos:</p>
                                                                  <p>{{a.totalKilosPedido}}</p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                  <p class="fw-bold mb-0">Mercado:</p>
                                                                  <p>{{a.get_mercadoPedido_display}}</p>
                                                                </div>
                                                              </div>
                                                              <div class="row">
                                                                <div class="align-items-center">
                                                                    <p class="fw-bold mb-2">Contiene los siguientes tipos:</p>
                                                                </div>
                                                                <div class="col-12 table-responsive" >
                                                                    <table id="tabla" class="table table-striped text-center" style="width:100%">
                                                                        <thead>
                                                                            <tr class="align-items-center">
                                                                                <th>Calibre</th>
                                                                                <th>Calidad</th>
                                                                                <th>Kg</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for b in pcc %}
                                                                                {% if a.id == b.idPedido.id %}
                                                                                    <tr>
                                                                                        <td>{{b.idCalibre.numCalibre}}</td>
                                                                                        <td>{{b.idCalidad.numCalidad}}</td>
                                                                                        <td>{{b.cantidadCC}}</td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card text-center shadow rounded">
                            <div class="card-body">
                                <img src="/static/assets/img/icons/viajeT.png" width="70">
                                <p class="mt-2 card-text">No hay pedidos completados.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
