{% extends 'layouts/base.html' %}

{% block title %}Bitacoras de corte{% endblock %}

{% block content %}
    <div class="mx-5 align-items-center justify-content-center">
        <div class="row text-center justify-content-center align-items-center py-3">
            <div class="text-2 col-12 text-md-start">
                <h3 class="py-3">Bitacoras</h3>
            </div>
        </div>
        {% if viajes %}
            <div class="card text-center shadow rounded">
                <div class="card-body text-center">
                    <h5 class="card-tittle mb-5">Estos son los viajes que se incluirian en tu reporte, puedes quitar algunos si asi lo deseas.</h5>
                    <table id="example" class="table table-striped text-center" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>  <!-- Columna de checkbox de selección -->
                                <th>Viaje N°</th>
                                <th>Camion encargado</th>
                                <th>Cuadrilla encargada</th>
                                <th>Creado el</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in viajes %}
                            <tr>
                                <td><input type="checkbox" name="seleccion[]" value="{{ a.id }}" checked></td>
                                <td>{{ a.idOrdenCorte.idPedido.numeroPedido }}</td>
                                <td>{{ a.idCamionTransporte.modeloTransporte }}</td>
                                <td>{{ a.idCuadrilla.nombreCuadrilla }}</td>
                                <td>{{ a.fechaViaje }}</td>
                                <td>
                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                        <i class="nav-icon fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="modal fade" id="detalles{{a.id}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Panel de detalles</h5>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {% if a.idOrdenCorte.idPedido.estatusPedido == 'P_V' %}
                                                                <div class="alert alert-danger rounded-pill mx-5 text-xs" role="alert">
                                                                    <i class="fa-solid fa-info-circle mr-2"></i>Este viaje de corte esta proximo a completarse, pero aun no se ha dado por recibido en bodega.
                                                                </div>
                                                            {% elif a.idOrdenCorte.idPedido.estatusPedido == 'P_C' %}
                                                                <div class="alert alert-success rounded-pill mx-5 text-xs" role="alert">
                                                                    <i class="fa-solid fa-info-circle mr-2"></i>Este viaje de corte fue completado, el encargado de recibo notifico que fue recibido en bodega.
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Viaje de corte N°:</p>
                                                            <p>{{a.idOrdenCorte.numeroOrden}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Fecha de creación:</p>
                                                            <p>{{a.fechaViaje}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Punto de reunión acordado:</p>
                                                            <p>{{a.puntoReunion}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Camión Principal:</p>
                                                            <p class="text-xs">{{a.idCamionTransporte.modeloTransporte}} - {{a.idCamionTransporte.idChoferTransporte.usuario.first_name}} {{a.idCamionTransporte.idChoferTransporte.usuario.last_name}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Camión auxiliar:</p>
                                                            <p class="text-xs">{{a.idCamionTransporte.modeloTransporte}} - {{a.idCamionSecundarioTransporte.idChoferTransporte.usuario.first_name}} {{a.idCamionSecundarioTransporte.idChoferTransporte.usuario.last_name}}</p>
                                                        </div>
                                                    </div>
                                                    {% if a.idOrdenCorte.idPedido.estatusPedido == 'P_V' %}
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Hora de salida:</p>
                                                            <p>{{a.horaSalida}}</p>
                                                        </div>
                                                    </div>
                                                    {% elif a.idOrdenCorte.idPedido.estatusPedido == 'P_C' %}
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Hora de salida:</p>
                                                            <p>{{a.horaSalida}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Hora de llegada:</p>
                                                            <p>{{a.horaLlegada}}</p>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Correspondiente al pedido:</p>
                                                            <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#pedido{{a.id}}">
                                                                <i class=" fa-solid fa-info-circle mr-2"></i> {{a.idOrdenCorte.idPedido}}
                                                            </button>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Correspondiente a la orden:</p>
                                                            <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#orden{{a.id}}">
                                                                <i class=" fa-solid fa-info-circle mr-2"></i> {{a.idOrdenCorte}}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="orden{{a.id}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-xs">
                                                    <button type="submit" class="btn text-sm" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                                        <i class=" fa-solid fa-arrow-left mr-2"></i>
                                                    </button>
                                                    <h5 class="modal-title">Detalles de la orden de corte</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Orden de corte N°:</p>
                                                            <p>{{a.idOrdenCorte.numeroOrden}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Fecha de creación:</p>
                                                            <p>{{a.idOrdenCorte.fechaOrden}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Correspondiente al pedido:</p>
                                                            <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#pedido{{a.id}}">
                                                                <i class=" fa-solid fa-info-circle mr-2"></i> {{a.idOrdenCorte.idPedido}} 
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Para la huerta:</p>
                                                            <p>{{a.idOrdenCorte.idHuerta.nombreHuerta}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Tipo de corte:</p>
                                                            <p>{{a.idOrdenCorte.get_tipoCorte_display}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="pedido{{a.id}}">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-xs">
                                                    <button type="submit" class="btn text-sm" data-bs-toggle="modal" data-bs-target="#detalles{{a.id}}">
                                                        <i class=" fa-solid fa-arrow-left mr-2"></i>
                                                    </button>
                                                    <h5 class="modal-title">Detalles del pedido</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Orden número:</p>
                                                            <p>{{a.idOrdenCorte.numeroOrden}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Fecha:</p>
                                                            <p>{{a.idOrdenCorte.fechaOrden}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p class="fw-bold mb-0">Para el cliente:</p>
                                                            <p>{{a.idOrdenCorte.idPedido.idCliente.nombreCliente}} {{a.idPedido.idCliente.apellidoPCliente}} {{a.idPedido.idCliente.apellidoMCliente}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Contiene:</p>
                                                            <p>{{a.idOrdenCorte.idPedido.totalPalletsPedido}} pallets.</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <p class="fw-bold mb-0">Destino:</p>
                                                            <p>{{a.idOrdenCorte.idPedido.destinoPedido}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                        <p class="fw-bold mb-0">Generada por:</p>
                                                        <p>{{a.idOrdenCorte.idPedido.idTrabajador.usuario.first_name}} {{a.idPedido.idPedido.idTrabajador.usuario.last_name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                        <p class="fw-bold mb-0">Kilos:</p>
                                                        <p>{{a.idOrdenCorte.idPedido.totalKilosPedido}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                        <p class="fw-bold mb-0">Mercado:</p>
                                                        <p>{{a.idOrdenCorte.idPedido.get_mercadoPedido_display}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="align-items-center">
                                                            <p class="fw-bold mb-2">Contiene los siguientes tipos:</p>
                                                        </div>
                                                        <div class="col-12 table-responsive" >
                                                            <table id="tabla" class="table table-striped text-center text-xs" style="width:100%">
                                                                <thead>
                                                                    <tr class="align-items-center">
                                                                        <th>Calibre</th>
                                                                        <th>Calidad</th>
                                                                        <th>Kg</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for b in pcc %}
                                                                        {% if a.idOrdenCorte.idPedido.id == b.idPedido.id %}
                                                                            <tr>
                                                                                <td>{{b.idCalibre.numCalibre}}</td>
                                                                                <td>{{b.idCalidad.numCalidad}}</td>
                                                                                <td>{{b.cantidadCC}}</td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <form method="POST" enctype="multipart/form-data" class="mt-4">
                        {% csrf_token %}
                        <div id="filas-seleccionadas">
                            <input type="hidden" name="Id" value="generar">
                            <input id="filas-seleccionadas-contenido" type="hidden" name="Filas">
                            <span id="alerta-sin-seleccion" style="display: none;" class="text-light bg-danger rounded-pill p-2">Sin viajes seleccionados</span>
                        </div>
                        <button type="submit" class="btn btn-success" id="genDoc">
                            <i class="nav-icon fas fa-file-excel mr-2"></i>Generar
                        </button>
                    </form>
                </div>
            </div>
        {% elif listo %}
            <div class="card text-center shadow rounded">
                <div class="card-body text-center">
                    <h5 class="card-tittle">Tu bitacora de corte esta lista!!</h5>
                    <img src="/static/assets/img/icons/download.png" width="100" class="my-4 rounded">
                    <p class="card-text">Da click en el botón inferior para descargarlo.</p>
                    <a href="/static/temp/bitacora.xlsx" class="btn bg-success" target="_blank"><i class="fa-solid fa-file-excel mr-2"></i>Descargar</a>
                </div>
            </div>
        {% else %}
            <div class="card text-center shadow rounded">
                <div class="card-body text-center">
                    <h5 class="card-tittle">Genera una bitacora de corte</h5>
                    <img src="/static/assets/img/icons/excel.png" width="100" class="my-4 rounded">
                    <p class="card-text">Primero selecciona el rango de dias que quieres incluir en la bitacora.</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="text-center">
                            <input type="hidden" name="Id" value="buscar">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <p class="form-floating mb-3">
                                        {{form.Inicio}}
                                        <label>Fecha inicial</label>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="form-floating mb-3">
                                        {{form.Fin}}
                                        <label>Fecha Limite</label>
                                    </p>
                                </div>
                            </div>
                            <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                <i class="fa-solid fa-search mr-2"></i>Buscar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="/static/assets/js/cutLogs.js"></script>
{% endblock javascripts %}