{% extends 'layouts/base.html' %}

{% block title %}Productores{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#FCB39A">
            <strong>Error!</strong> {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% elif mensaje %}
        <div class="alert alert-dismissible fade show mt-2" role="alert" style="background:#EAFBD5">
            <strong>Exito!</strong> {{mensaje}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    
    <div class="mx-5 align-items-center justify-content-center">
        <div class="text-center d-flex justify-content-between align-items-center py-3">
            <div class="text-2">
                <h3 class="py-3">Productores</h3>
            </div>
            <div class="my-2 text-end" style="width: 100%;">
                <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background: #4CAF50;">
                    <i class="nav-icon fas fa-user-plus"></i> Nuevo
                </button>
            </div>
        </div>  
        <div class="table-responsive">
            {% if nproductores > 0 %}
                <table id="example" class="table table-striped text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in productores %}
                            <tr>
                                <td>{{a.nombre}} {{a.apellidoP}} {{a.apellidoM}}</td>
                                <td>{{a.telefono}}</td>
                                <td>
                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#modificar{{a.id}}">
                                        <i class="nav-icon fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="modal fade" id="modificar{{a.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header align-items-center">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de edición</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="text-center">
                                                            <input type="hidden" name="Id" value="modificar">
                                                            <input type="hidden" name="Productor" value={{a.id}}>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Nombre" value="{{a.nombre}}">
                                                                <label>Nombre(s)</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="AP" value="{{a.apellidoP}}">
                                                                <label>Apellido Paterno</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="AM" value="{{a.apellidoM}}">
                                                                <label>Apellido Materno</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Telefono" value={{a.telefono}}>
                                                                <label>Telefono</label>
                                                            </p>
                                                            <button type="submit" class="btn  text-light" style="background-color: #4CAF50;">
                                                                <i class="fa-solid fa-floppy-disk mr-2"></i>
                                                                Guardar
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                        <i class="nav-icon fas fa-trash text-danger"></i>
                                    </button>
                                    <div class="modal fade" id="eliminar{{a.id}}">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="fs-6">¿Seguro que quieres eliminar a este productor?</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center mx-5 rounded">
                                                        <p class="fs-10">*Cuidado, al eliminar este productor tambien se eliminaran las huertas que tenga a su cargo, tasi como los registros que esten vinculados a ella.</p>
                                                    </div>
                                                    <div class="text-center d-inline-block">
                                                        <p class="form-floating">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                
                                                                        <input type="hidden" name="Id" value="eliminar">
                                                                        <input type="hidden" name="Productor" value={{a.id}}>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <i class="nav-icon fas fa-trash mr-2"></i>Eliminar
                                                                        </button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="card text-center shadow rounded">
                    <div class="card-body">
                        <img src="/static/assets/img/icons/wo-users.png" width="70">
                        <p class="mt-2 card-text">No hay productores registrados.</p>
                    </div>
                </div>
            {% endif %}
            
        </div>
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header align-items-center">
                        <h1 class="modal-title fs-5">Panel de registro</h1>
                        <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <p class="form-floating mb-3">
                                    {{form.Nombre}}
                                    <label>Nombre</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.AP}}
                                    <label>Apellido Paterno</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.AM}}
                                    <label>Apellido Materno</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Telefono}}
                                    <label>Telefono</label>
                                </p>
                                <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                    +<i class="fa-solid fa-address-card mr-2"></i>Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
