<aside class="main-sidebar sidebar-light-primary elevation-3 position-fixed">
  <!--Usuario-->
  <a href="" class="brand-link shadow" style="background:#4CAF50">
    <div class="row my-n1 align-items-center">
      <div class="col-3 text-start">
        <img src="/static/assets/img/icons/user-icon.svg" alt="logo" width="30" class="ml-3 rounded-circle"/>
      </div>
      <div class="col-8 text-start text-sm">
        <span class="brand-text text-light">-{{request.user.trabajador.usuario.first_name}}-</span>
        <br><span class="brand-text text-light">{{request.user.trabajador.rol.nombreRol}}</span>
      </div>
  </div>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 'index' %} style='background-color: #c9e7cb' {% endif %}>
              <a href="{% url 'index' %}" class="nav-link inactive">
                  <i class="nav-icon fa-solid fa-house"></i>
                  <p>Inicio</p>
              </a>
            </li>
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 'ss' %} style='background-color: #c9e7cb' {% endif %}>
              <a href={% url 'ss' %} class="nav-link inactive">
                <i class="nav-icon fa-solid fa-tree"></i>
                  <p>Huertas</p>
              </a>
            </li>
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 'i' %} style='background-color: #c9e7cb' {% endif %}>
              <a href={% url 'i' %} class="nav-link inactive">
                <i class="nav-icon fa-solid fa-circle-exclamation"></i>
                  <p>Incidencias</p>
              </a>
            </li>
            <li class="nav-item">
              <a href={% url 'exit' %} class="nav-link inactive text-danger">
                  <i class="nav-icon fa-solid fa-sign-out"></i>
                  <p>Cerrar Sesión</p>
              </a>
            </li>
          </ul>
      </nav>
  </div>
</aside>