<aside class="main-sidebar sidebar-light-primary elevation-3 position-fixed">
  <!--Usuario-->
  <a href="" class="brand-link" style="background:#4CAF50">
    <img src="/static/assets/img/icons/user-icon.svg" alt="logo" width="30" class="ml-3 rounded-circle"/>
    <span class="brand-text font-weight text-light text-sm">{{request.user.trabajador.rol.nombreRol}}</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 'index' %} style='background-color: #c9e7cb' {% endif %}>
              <a href="{% url 'index' %}" class="nav-link inactive">
                  <i class="nav-icon fa-solid fa-house"></i>
                  <p>Inicio</p>
              </a>
            </li>
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 't' %} style='background-color: #c9e7cb' {% endif %}>
              <a href="{% url 't' %}" class="nav-link inactive">
                  <i class="nav-icon fa-solid fa-truck"></i>
                  <p>Transportes</p>
              </a>
            </li>
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 'o' %} style='background-color: #c9e7cb' {% endif %}>
              <a href="{% url 'o' %}" class="nav-link inactive">
                  <i class="nav-icon fa-solid fa-tree"></i>
                  <p>Huertas</p>
              </a>
            </li>
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 'ct' %} style='background-color: #c9e7cb' {% endif %}>
              <a href="{% url 'ct' %}" class="nav-link inactive">
                  <i class="nav-icon fa-solid fa-truck-fast"></i>
                  <p>Viajes</p>
              </a>
            </li>
            <li class="nav-item rounded" {% if request.resolver_match.url_name == 'i' %} style='background-color: #c9e7cb' {% endif %}>
              <a href="{% url 'i' %}" class="nav-link inactive">
                  <i class="nav-icon fa-solid fa-circle-exclamation"></i>
                  <p>Incidencias</p>
              </a>
            </li>
            <li class="nav-item">
              <a href={% url 'exit' %} class="nav-link inactive text-danger">
                  <i class="nav-icon fa-solid fa-sign-out"></i>
                  <p>Cerrar Sesión</p>
              </a>
            </li>
          </ul>
      </nav>
  </div>
</aside>