<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="/static/assets/img/icons/logo.svg">
        <title>
            Agromunnity - {% block title %} {% endblock %}
        </title>

        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        {% block stylesheets %}
        {% endblock stylesheets %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/static/assets/js/Search.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
        {% block javascripts %}
        {% endblock javascripts %}

    </head>

    <body class="sidebar-mini sidebar-closed sidebar-collapse">
        <div class="wrapper">
        {% include 'layouts/navbar.html' %}

        {% if request.user.trabajador.rol.nomenclaturaRol == 'D_G' %}
            {% include "user_dir_gral/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'E_V' %}
            {% include "user_enc_ventas/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'I_C' %}
            {% include "user_ing_campo/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'E_B' %}
            {% include "user_enc_bit/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'C_T' %}
            {% include "user_con_trans/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'E_T' %}
            {% include "user_enc_trans/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'G_C' %}
            {% include "user_ger_cuad/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'E_R' %}
            {% include "user_enc_rec/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'E_I' %}
            {% include "user_enc_ino/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'E_A' %}
            {% include "user_enc_aco/sidenav.html" %}
        {% elif request.user.trabajador.rol.nomenclaturaRol == 'J_C' %}
            {% include "user_jefe_cuad/sidenav.html" %}
        {% endif %}
        

        <div class="content-wrapper">
            <section class="content">
                <main>
                    {% if error %}
                    <div class="alert alert-dismissible show text-xs mt-3" role="alert" style="background:#FCB39A">
                        <strong>Error!</strong> {{error}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% elif mensaje %}
                    <div class="alert alert-dismissible show text-xs mt-3" role="alert" style="background:#EAFBD5">
                        <strong>Éxito!</strong> {{mensaje}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                    {% include 'layouts/footer.html' %}
                </main>
            </section>
        </div>
    </div>
    </body>

</html>