<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
            Agromunnity - {% block title %} {% endblock %}
        </title>

        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        {% block stylesheets %}
        {% endblock stylesheets %}

    </head>

    <body class="sidebar-mini sidebar-closed sidebar-collapse">
        <div class="wrapper">
        {% include 'layouts/navbar.html' %}


        {% if request.user.trabajador.rol == 'E_V' %}
            {% include "user_enc_ventas/sidenav.html" %}
        {% elif request.user.trabajador.rol == 'D_R' %}
            {% include "user_dir_gral/sidenav.html" %}
        {% elif request.user.trabajador.rol == 'I_C' %}
            {% include "user_ing_campo/sidenav.html" %}
        {% elif request.user.trabajador.rol == 'E_B' %}
            {% include "user_enc_bit/sidenav.html" %}
        {% elif request.user.trabajador.rol == 'G_C' %}
            {% include "user_ger_cuad/sidenav.html" %}
        {% elif request.user.trabajador.rol == 'E_P' %}
            {% include "user_enc_prod/sidenav.html" %}
        {% elif request.user.trabajador.rol == 'ADM' %}
            {% include "user_admin/sidenav.html" %}
        {% endif %}
        

        <div class="content-wrapper">
            <section class="content">
                <main>
                    {% block content %}
                    {% endblock content %}
                    {% include 'layouts/footer.html' %}
                </main>
            </section>
        </div>

        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        {% block javascripts %}
        {% endblock javascripts %}
    </div>
    </body>

</html>