<header class="navbar sticky-top flex-md-nowrap p-0 shadow justify-content-center">
    <div class="text-center col-md-2 col-lg-1 pt-2">
        <img src="/static/assets/img/icons/logo.svg" alt="logo" width="20" />
        <p>Agromunnity</p>
    </div>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>