<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
    <div class="pt-5 nav flex-column align-items-center">
        <img src="/static/assets/img/icons/user-icon.svg" alt="logo" width="85" class="rounded-circle"/> 
        {{request.user.username}}
        <br>
        {{request.user.user.tipouser}}
    </div>
    <hr class="hr" />
    <div class="position-sticky pt-4">
      <ul class="nav flex-column">
  
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a href={% url 'index' %} class="nav-link text-dark"> Inicio</a>
          </li>
  
          <li class="nav-item">
            <a href={% url 'exit' %} class="nav-link text-danger">Cerrar sesión</a>
          </li>
      </ul>
    </div>
  </nav>