{% extends 'layouts/base.html' %}

{% block title %}Mis cuadrillas{% endblock %}

{% block content %}
    <div class="mx-5 align-items-center justify-content-center">
        <div class="row text-center justify-content-center align-items-center py-3">
            <div class="text-2 col-md-4 text-md-start">
                <h3 class="py-3">Mis Cuadrillas</h3>
            </div>
            <div class="col-md-4 col-6">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar cuadrillas...">
            </div>
            {% if numJefGer > 0 and request.user.trabajador.rol.nomenclaturaRol == 'G_C'%}
                <div class="my-2 col-md-4 col-6 text-end" style="width: 100%;">
                    <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background: #4CAF50;">
                        +<i class="nav-icon fas fa-user-friends"></i> Nueva
                    </button>
                </div>
            {% endif %}
        </div>
        {% if ncuadrillas > 0 %}
            <div class="table-responsive">
                <table id="example" class="table table-striped text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Nombre</th>
                            <th>Gerente</th>
                            <th>Jefe</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in cuadrillas %}
                            <tr>
                                {% if a.estatusCuadrilla == 'C_A' %}
                                    <td class="text-xs"><i class="fa-solid fa-circle-check text-success"></i><br>Activa</td>
                                {% else %}
                                    <td class="text-xs"><i class="fa-solid fa-circle-xmark text-danger"></i><br>Inactiva</td>
                                {% endif %}
                                <td>{{a.nombreCuadrilla}}</td>
                                <td>{{a.idGerenteCuadrilla.usuario.first_name}} {{a.idGerenteCuadrilla.usuario.last_name}}</td>
                                <td>{{a.idJefeCuadrilla.usuario.first_name}} {{a.idJefeCuadrilla.usuario.last_name}}</td>
                                <td>
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                                <input type="hidden" name="Id" value="modificar">
                                                <input type="hidden" name="Cuadrilla" value={{a.id}}>
                                                <button type="submit" class="btn">
                                                    <i class="nav-icon fa-solid fa-ellipsis-vertical text-xs"></i>
                                                </button>
                                                <button type="button" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                                    <i class="nav-icon fas fa-trash text-danger"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </form>
                                    <div class="modal fade" id="eliminar{{a.id}}">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="fs-6">¿Seguro que quieres eliminar a esta cuadrilla?</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center mx-5 rounded">
                                                        <p class="fs-10">*Cuidado, al eliminar esta cuadrilla tambien se eliminaran los elementos que estan relacionados a ella, como huertas, ordenes de corte, viajes, etc.</p>
                                                    </div>
                                                    <div class="text-center d-inline-block">
                                                        <p class="form-floating">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                
                                                                        <input type="hidden" name="Id" value="eliminar">
                                                                        <input type="hidden" name="Cuadrilla" value={{a.id}}>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <i class="nav-icon fas fa-trash mr-2"></i>Eliminar
                                                                        </button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card text-center shadow rounded mx-5">
                <div class="card-body text-center">
                    <h5 class="card-titl">No hay cuadrillas registradas</h5>
                    <p class="card-text">Actualmente no hay cuadrillas registradas en el sistema. Por favor, registre una nueva cuadrilla para poder asignar trabajadores a ella.</p>
                    {% if numJefGer < 2 and request.user.trabajador.rol.nomenclaturaRol == 'G_C'%}
                        <p class="mt-2 card-text">Para poder registrar primero asegurate que halla <br>minimo un usuario Gerente de cuadrilla y Jefe de cuadrilla.</p>
                        <div class="text-center">
                            <a href={% url 'w' %} class="btn inactive shadow">
                                <i class="nav-icon fas fa-edit mt-2"></i>
                                <p>Ir a registrar usuarios</p>
                            </a>
                        </div>  
                    {% endif %}
                </div>
            </div>
        {% endif %}
        
        <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header align-items-center">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de registro</h1>
                        <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <p class="form-floating mb-3">
                                    {{form.Nombre}}
                                    <label>Nombre</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Ubicacion}}
                                    <label>Ubicacion</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Estatus}}
                                    <label>Estatus de la huerta</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Jefe}}
                                    <label>Jefe de cuadrilla</label>
                                </p>
                                <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                    +<i class="fa-solid fa-address-card mr-2"></i>Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
