{% extends 'layouts/base.html' %}

{% block title %}Editar mis cuadrillas{% endblock %}

{% block content %}
    <div class="mx-5 align-items-center justify-content-center pt-4">
        <form method="POST" enctype="multipart/form-data">
            <div class="text-center d-flex justify-content-between align-items-center">
                <div class="text-2">
                    <h3 class="py-3">Panel de edición</h3>
                </div>
                <button type="submit" class="btn  text-light" style="background-color: #4CAF50;">
                    <i class="fa-solid fa-floppy-disk mr-2"></i>
                    Guardar
                </button>
            </div>
            {% csrf_token %}
            <div class="text-center">
                
                <div class="row">
                    <div class="col-md-6">
                        <p class="form-floating mb-3">
                            <input class="form-control" type="text" name="Nombre" value="{{cuadrilla.nombreCuadrilla}}">
                            <label>Nombre</label>
                        </p>
                        <p class="form-floating mb-3">
                            <input class="form-control" type="text" name="Ubicacion" value="{{cuadrilla.ubicacionCuadrilla}}">
                            <label>Ubicacion</label>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="form-floating mb-3">
                            <select name="Estatus" class="form-control">
                                <option value="C_A" {% if cuadrilla.estatusCuadrilla == 'C_A' %}selected{% endif %}>Activa</option>
                                <option value="C_I" {% if cuadrilla.estatusCuadrilla == 'C_I' %}selected{% endif %}>Inactiva</option>
                            </select>
                            <label>Estatus</label>
                        </p>
                        {% if request.user.trabajador.rol.nomenclaturaRol == 'G_C' %}
                        <p class="form-floating mb-3">
                            <select name="Jefe" class="form-control">
                                {% for g in trabajadores %}
                                    {% if g.rol.nomenclaturaRol == 'J_C' %}
                                    <option value="{{g.id}}" {% if g.id == cuadrilla.idGerenteCuadrilla %}selected{% endif %}>{{g.usuario.first_name}} {{g.usuario.last_name}} - {{g.rol.nombreRol}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>Jefe de cuadrilla</label>
                        </p>
                        {% else %}
                        <p class="form-floating mb-3">
                            <input class="form-control" type="text" name="Gerente" value="{{cuadrilla.idGerenteCuadrilla.usuario.first_name}} {{cuadrilla.idGerenteCuadrilla.usuario.last_name}}" readOnly>
                            <label>Gerente de cuadrilla</label>
                        </p>
                        {% endif %}
                    </div>
                </div>
                <input type="hidden" name="Id" value="modificar">
            </div>
        </form>

        <div class="text-center d-flex justify-content-between align-items-center py-3">
            <div class="text-2">
                <h3 class="py-3">Miembros</h3>
            </div>
            <div class="my-2 text-end" style="width: 100%;">
                <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background: #4CAF50;">
                    <i class="nav-icon fas fa-user-plus"></i> Nuevo
                </button>
            </div>
        </div>
    </div>

    
    
    <div class="row row-cols row-cols-md-4 justify-content-center px-3">

        {% if miembros %}
            {% for a in miembros %}
                <div class="card text-center mx-5">
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-center justify-content-center mt-2">
                            <img src="/static/assets/img/icons/user-icon.svg" alt="User Image" width="50">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body text-xs">
                                <p class="card-text">{{a.nombre}} {{a.apellidoP}} {{a.apellidoM}}</p>
                                <p class="card-text">Número de Seguridad Social: {{a.noImss}}</p>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editar{{a.id}}">
                                    <i class="nav-icon fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                    <i class="nav-icon fas fa-trash text-danger"></i>
                                </button>
                                <div class="modal fade" id="eliminar{{a.id}}">
                                    <div class="modal-dialog text-center">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="fs-6">¿Seguro que quieres eliminar a este miembro?</h1>
                                                <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                            </div>
                                            <div class="modal-body">
                                                <div class="text-center mx-5 rounded">
                                                    <p class="fs-10">*Puedes volver a agregar a este miembro de cuadrilla en cualquier momento.</p>
                                                </div>
                                                <div class="text-center d-inline-block">
                                                    <p class="form-floating">
                                                        <form method="POST" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="Id" value="eliminar">
                                                            <input type="hidden" name="Miembro" value={{a.id}}>
                                                            <button type="submit" class="btn btn-danger">
                                                                <i class="nav-icon fas fa-trash mr-2"></i>Eliminar
                                                            </button>
                                                        </form>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="modal fade" id="editar{{a.id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header align-items-center">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de edición</h1>
                                                <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                            </div>
                                            <div class="modal-body">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="text-center">
                                                        <input type="hidden" name="Id" value="editar">
                                                        <input type="hidden" name="Miembro" value={{a.id}}>
                                                        <p class="form-floating mb-3">
                                                            <input class="form-control" type="text" name="Nombre" value={{a.nombre}}>
                                                            <label>Nombre</label>
                                                        </p>
                                                        <p class="form-floating mb-3">
                                                            <input class="form-control" type="text" name="AP" value={{a.apellidoP}}>
                                                            <label>Apellido Paterno</label>
                                                        </p>
                                                        <p class="form-floating mb-3">
                                                            <input class="form-control" type="text" name="AM" value={{a.apellidoM}}>
                                                            <label>Apellido Materno</label>
                                                        </p>
                                                        <p class="form-floating mb-3">
                                                            <input class="form-control" type="text" name="noImss" value={{a.noImss}}>
                                                            <label>Numero de seguridad social</label>
                                                        </p>
                                                        <button type="submit" class="btn  text-light" style="background-color: #4CAF50;">
                                                            <i class="fa-solid fa-floppy-disk mr-2"></i>
                                                            Guardar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}

            <div class="card text-center shadow mx-2" style="background:#F6CECE">
                <div class="card-body">
                    <img src="/static/assets/img/icons/alert.png" width="70">
                    <p class="card-text">Esta cuadrilla no tiene miembros.</p>
                </div>
            </div>

    {% endif %}

    </div>

    <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header align-items-center">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de registro</h1>
                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="text-center">
                            <input type="hidden" name="Id" value="agregar">
                            <p class="form-floating mb-3">
                                {{formm.Nombre}}
                                <label>Nombre</label>
                            </p>
                            <p class="form-floating mb-3">
                                {{formm.AP}}
                                <label>Apellido Paterno</label>
                            </p>
                            <p class="form-floating mb-3">
                                {{formm.AM}}
                                <label>Apellido Materno</label>
                            </p>
                            <p class="form-floating mb-3">
                                {{formm.noImss}}
                                <label>Numero de seguridad social</label>
                            </p>
                            <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                +<i class="fa-solid fa-address-card mr-2"></i>Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
