{% extends 'layouts/base.html' %}

{% block title %}Jefes de cuadrilla{% endblock %}

{% block content %}
    <div class="mx-5 align-items-center justify-content-center">
        <div class="row text-center justify-content-center align-items-center py-3">
            <div class="text-2 col-md-4 text-md-start">
                <h3 class="py-3">Jefes de cuadrilla</h3>
            </div>
            <div class="col-md-4 col-6">
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar por nombre...">
            </div>
            <div class="my-2 col-md-4 col-6 text-end" style="width: 100%;">
                <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnmodal" style="background: #4CAF50;">
                    <i class="nav-icon fas fa-user-plus"></i> Nuevo
                </button>
            </div>
        </div>

        <div class="table-responsive">
            {% if njefes > 0 %}
                <table id="example" class="table table-striped text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in jefes %}
                            <tr>
                                <td>{{a.usuario.first_name}} {{a.usuario.last_name}}</td>
                                <td>{{a.telefono}}</td>
                                <td>{{a.usuario.email}}</td>
                                <td>
                                    <button type="submit" class="btn text-xs" data-bs-toggle="modal" data-bs-target="#modificar{{a.id}}">
                                        <i class="nav-icon fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="modal fade" id="modificar{{a.id}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header align-items-center">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Panel de edición</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="text-center">
                                                            <input type="hidden" name="Id" value="modificar">
                                                            <input type="hidden" name="Trabajador" value={{a.id}}>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Nombre" value="{{a.usuario.first_name}}">
                                                                <label>Nombre(s)</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Apellidos" value="{{a.usuario.last_name}}">
                                                                <label>Apellidos</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Nusuario" value="{{a.usuario.username}}">
                                                                <label>Nombre de usuario</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Correo" value={{a.usuario.email}}>
                                                                <label>Correo electronico</label>
                                                            </p>
                                                            <p class="form-floating mb-3">
                                                                <input class="form-control" type="text" name="Telefono" value={{a.telefono}}>
                                                                <label>Telefono</label>
                                                            </p>
                                                            <div class="btn-group w-100" role="group" aria-label="Basic mixed styles example">
                                                                <button type="button" class="btn btn-danger text-xs mx-1" data-bs-toggle="modal" data-bs-target="#eliminar{{a.id}}">
                                                                    <i class="nav-icon fas fa-trash"></i>Eliminar
                                                                </button>
                                                                
                                                                <button type="submit" class="btn text-light text-xs mx-1" style="background-color: #4CAF50;">
                                                                    <i class="fa-solid fa-floppy-disk"></i>
                                                                    Guardar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="eliminar{{a.id}}">
                                        <div class="modal-dialog text-center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="fs-6">¿Seguro que quieres eliminar a este jefe de cuadrilla?</h1>
                                                    <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center mx-5 rounded">
                                                        <p class="fs-10">*Cuidado, al eliminar este usuario tambien se eliminaran los elementos que estan relacionados a el, como cuadrillas, huertas, transportes, etc.</p>
                                                    </div>
                                                    <div class="text-center">
                                                        <p class="form-floating">
                                                            <form method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                
                                                                        <input type="hidden" name="Id" value="eliminar">
                                                                        <input type="hidden" name="Trabajador" value={{a.id}}>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            <i class="nav-icon fas fa-trash mr-2"></i>Eliminar
                                                                        </button>
                                                                    </p>
                                                                </div>
                                                            </form>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="card text-center shadow">
                    <div class="card-body">
                        <img src="/static/assets/img/icons/wo-users.png" width="70">
                        <p class="card-text">No hay jefes de cuadrilla registrados.</p>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header align-items-center">
                        <h1 class="modal-title fs-5">Panel de registro</h1>
                        <i class="fa-solid fa-xmark fs-5" data-bs-dismiss="modal"></i>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <input type="hidden" name="Id" value="agregar">
                                <p class="form-floating mb-3">
                                    {{form.Nombre}}
                                    <label>Nombre(s)</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.AP}}
                                    <label>Apellido Paterno</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.AM}}
                                    <label>Apellido Materno</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Correo}}
                                    <label>Correo electronico</label>
                                </p>
                                <p class="form-floating mb-3">
                                    {{form.Telefono}}
                                    <label>Telefono</label>
                                </p>
                                <button type="submit" class="btn text-light" style="background-color: #4CAF50;">
                                    +<i class="fa-solid fa-address-card mr-2"></i>Registrar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
